<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logosinfondopng.png" />
	
	<title> On Wheels </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- /Header -->
		<%- include('../partials/header') %>
	<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12 title_center">
					<h2 class="products-title">Ingresá</h2>
					<h2>Te estabamos esperando</h2>
				</div>
				
				<h2 id="signin">
					<% if(locals.errors){ %>
						<p class="alert"> <%= errors.login %> </p>
					<% } %>
					<form action="/users/login" method='POST'>
						<p id="mover2">
							<label>Email:</label>
							<input  name="mail" id="nombre" type="text">
						</p>
						<p id="mover">
							<label>Contraseña:</label>
							<input name="contraseña" id="contrasena" >
						</p>
						
						<p>
							<label for="">Recordame</label>
							<input type="checkbox" name="recordame">
						</p>
					
						<a href="/autos/homeLogueado" id="boton">
							<input type="submit" value="Ingresar"> 
						</a>
					</form>
				</div>
			</div>
		</div> 
			
 		<!-- footer -->
		<%- include('../partials/footer') %>
 		<!-- /footer -->
</body>
			
</html>


	