<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logosinfondopng.png" />
	
	<title> On Wheels </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- /Header -->
		<%- include('../partials/header') %>
	<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12 title_center">
					<h2 class="products-title">Ingres치</h2>
					<h2>Te estabamos esperando</h2>
				</div>
				<div id="signin">
					<!-- <label for="inputEmail3" class="col-sm-2 col-form-label"></label> -->
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				

				
					<label for="Constrase침a" class="col-sm-2 col-form-label"></label>
					<div class="col-sm-10">
						<input type="Constrase침a" class="form-control" id="inputPassword3" placeholder="Constrase침a">
					</div>
				

		
					<div id="signin1" class="form-group row">
						<div class="col-sm-10">
							<a href="/autos/homeLogueado">
								<input type="submit" value="Sign In"> 
							</a>
						</div>
					</div>
				</div>
			</div>
		</div> 
			
 		<!-- footer -->
		<%- include('../partials/footer') %>
 		<!-- /footer -->
</body>
			
</html>


	