<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logosinfondopng.png" />
	
	<title> On Wheels </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/js/uikit-icons.min.js"></script>
</head>

<body>
	<!-- Header -->
	<%- include('../partials/headerLogueado2') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formulariocargar" id="medioagregar" action='/autos/productAdd' method='POST' enctype="multipart/form-data">
				<div class="uk-margin">
					<input class="uk-input uk-form-width-medium" type="text" placeholder="Nombre" name="nombre">
				</div>

				<div class="uk-margin" uk-margin>					
						<input type="file" name="image" placeholder="Seleccionar imagen" >
				</div>
				<div class="uk-margin">
					<textarea class="uk-textarea" rows="5" placeholder="Descripcion" name="descripcion" type="text"></textarea>
				</div>
				
				<button type="submit" value="Agregar" id="agregar"> Agregar </button>
			
			
			</form>
		</div>
	</div>	
				
	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>

</html>