<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logosinfondopng.png" />
	
	<title> On Wheels </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	     <%- include('../partials/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 id="signin2" class="col-12"> 
				
				<form action="/users/register" method="POST" enctype="multipart/form-data">
					<p id="mover2">
						<label>Nombre:</label>
						<input  name="nombre" id="nombre" type="text">
					</p>
				
					<p id="mover1">
						<label>Apellido:</label>
						<input  name="apellido" id="apellido" type="text">
					</p>		
				
					<p>
						<label>Email:</label>
						<input  name="mail" id="mail" type="text">
					</p>

					<!-- <p id="mover">
						<label>Telefono:</label>
						<input name="telefono" id="Telefono" type="text">
					</p> -->

					<p id="mover">
						<label>Contraseña:</label>
						<input name="constraseña" id="contrasena" >
					</p>					
				
					<a href="/users/login" id="boton">
						<input type="submit" value="Registrarse"> 
					</a>
				</form>
	
			</h2>
		</div>
	</div>

	<!-- footer -->
	    <%- include('../partials/footer') %>
	<!-- /footer -->
</body>

</html>