<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logosinfondopng.png" />
	
	<title> On Wheels </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	     <%- include('../partials/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 id="signin2" class="col-12"> 
				<i>
					<form action="validar.php" method="post"></form>
					<p id="mover2">
						<label for="nombre">Nombre:</label>
						<input type="text" name="nombre" id="nombre">
					</p>
				
					<p id="mover1">
						<label for="Apellido">Apellido:</label>
						<input type="text" name="Apellido" id="Apellido">
					</p>		
				
					<p>
						<label for="email">Email:</label>
						<input type="email" name="Email" id="mail">
					</p>

					<p id="mover">
						<label for="Constraseña">Contraseña:</label>
						<input type="text" name="Constraseña" id="Telefono">
					</p>
				
					<a href="/autos/homeLogueado" id="boton">
						<input type="submit" value="Sign Up"> 
					</a>
				</i>
	
			</h2>
		</div>
	</div>

	<!-- footer -->
	    <%- include('../partials/footer') %>
	<!-- /footer -->
</body>

</html>